<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RezFunctions.Properties.Settings.MyBookingAppConnectionString"
            connectionString="Data Source=DESKTOP-1V4JFK7\SQLEXPRESS;Initial Catalog=MyBookingApp;Persist Security Info=True;User ID=bookingadmin"
            providerName="System.Data.SqlClient" />
        <add name="RezFunctions.Properties.Settings.MyBookingAppConnectionString1"
            connectionString="Data Source=DESKTOP-1V4JFK7\SQLEXPRESS;Initial Catalog=MyBookingApp;Persist Security Info=True;User ID=bookingadmin;Password=Mn@205133"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>